extends ../../layouts/default.pug
include ../../mixins/box-head.pug


block main
  
  .container.my-3
    .row
      .col-12
        +box-head("Chat")

      .col-12
        .chat
          //- .inner-head
          //-   .inner-avatar EY
          //-   .inner-name Em Yêu

          .inner-body
            .inner-incoming
              .inner-name Em Yêu
              .inner-content-chat
                | A ơi sang nhà em nha, nhà em không có ai ở nhà cả

            .inner-outgoing
              .inner-content-chat
                | Thế à? Ok em iu

            .inner-incoming
              .inner-name Em Yêu
              .inner-content-chat
                | Nhanh nha nhanh nha

            .inner-outgoing
              .inner-content-chat
                | Chồng đến rồi mà thấy ai ở nhà đâu em? Khóa cửa mà :(

            .inner-incoming
              .inner-name Em Yêu
              .inner-content-chat
                | Thì em bảo nhà em không ai ở nhà mà :))

          .inner-foot
            form(class="inner-form", action="")
              input(
                type="text"
                placeholder="Nhập nội dung..."
                name="content"
              )
              button
                i.fa-solid.fa-paper-plane